server:
  port: 8086
spring:
  application:
    name: deposit
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
        exclude: beans, env, mappings
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    info:
      enabled: true
