spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
#            - id: zipkin-route
#              uri: http://zipkin-svc-dev.dev.svc.cluster.local:9411
#              predicates:
#                - Path=/zipkin
#            - id: kibana-route
#              uri: http://kibana-svc-dev.dev.svc.cluster.local:5601
#              predicates:
#                - Path=/kibana
#            - filters:
#                - StripPrefix=1


            #  Deposit (PAYMENT)
            - id: deposit-route-protected
              uri: http://payment-svc-dev.dev.svc.cluster.local:8087
              predicates:
                - Path=/api/deposits, /api/deposits/**    #deposit은 모두 인증
                - Method=POST, GET, PATCH, DELETE
              filters:
                - name: TokenAuthenticationFilter

            # Category (PRODUCTS)         #카테고리 CUD 인증
            - id: category-route-protected
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/categories, /api/categories/**
                - Method=PUT, POST, DELETE
              filters:
                - name: TokenAuthenticationFilter

            - id: category-route-public     #카테고리들 조회
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/categories, /api/categories/**
                - Method=GET

            # Product (PRODUCTS)
            - id: cart-route-protected
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/carts, /api/carts/**
                - Method=GET, POST, DELETE

            - id: product-route-getAll-protected  # 상품 목록 조회 R 관리자용 인증
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/products
                - Method=GET
              order: 1
              filters:
                - name: TokenAuthenticationFilter

            - id: product-route-public          #상품 조회
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/products/**
                - Method=GET
              order: 2


            - id: product-route-protected     #상품 수정 및 삭제 인증
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/products, /api/products/**
                - Method=PATCH, PUT, POST, DELETE
              filters:
                - name: TokenAuthenticationFilter

            - id: product-es-route-public   #상품 es 검색
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/search/**
                - Method=GET

            - id: product-images-route-protected   #이미지 업로드 인증
              uri: http://product-svc-dev.dev.svc.cluster.local:8085
              predicates:
                - Path=/api/images/presigned-url, /api/images/presigned-url/**
                - Method=GET
              filters:
                - name: TokenAuthenticationFilter

            # Order
            - id: order-route-pg
              uri: http://order-svc-dev.dev.svc.cluster.local:8082
              predicates:
                - Path=/api/orders/payment/**, /api/orders/payment, /orders/payment /orders/payment/**
                - Method=GET
              order: 1
            - id: order-route-protected
              uri: http://order-svc-dev.dev.svc.cluster.local:8082
              predicates:
                - Path=/api/orders/**, /api/orders
                - Method=POST, GET, PATCH, DELETE
              filters:
                - name: TokenAuthenticationFilter
              order: 2

            # Payment
            - id: payment-route-public
              uri: http://payment-svc-dev.dev.svc.cluster.local:8087
              predicates:
                - Path=/api/payments/toss/**
                - Method=GET
              order: 1

            - id: payment-route-protected
              uri: http://payment-svc-dev.dev.svc.cluster.local:8087
              predicates:
                - Path=/api/payments/**, /api/payments
                - Method=POST
              filters:
                - name: TokenAuthenticationFilter
              order: 2

            # User (AUTH)
            - id: user-route-public
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/api/users
                - Method=GET
              order: 1

            - id: user-route-protected
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/api/users/**
                - Method=POST, GET, PATCH, DELETE
              filters:
                - name: TokenAuthenticationFilter
              order: 2

            # Auth
            - id: auth-route-login
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/login/**, /oauth2/**
                - Method=GET
              order: 1

            - id: auth-route-public
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/api/auth
                - Method=POST
              order: 2
              filters:
                - name: TokenAuthenticationFilter

            - id: auth-route-protected
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/api/auth/logout
                - Method=POST
              filters:
                - name: TokenAuthenticationFilter
              order: 3

            # test
            - id: auth-route-test
              uri: http://auth-svc-dev.dev.svc.cluster.local:8084
              predicates:
                - Path=/api/test/
                - Method=GET


            # Settlement
            - id: settlement-route-test
              uri: http://selltlement-svc-dev.dev.svc.cluster.local:8088
              predicates:
                - Path=/api/test/
                - Method=GET




custom:
  jwt:
    secrets:
      app-key: ${JWT_SECRET}

logging:
  level:
    root: debug