server:
  port: 8084

spring:
  application:
    name: payment
  datasource:
    url: jdbc:h2:mem:paymentdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

payment:
  targetUrl: https://api.tosspayments.com/v1/payments/confirm
  clientKey: test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm
  secretKey: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6

# External Service URLs
external:
  order-service:
    url: http://localhost:8082
  deposit-service:
    url: http://localhost:8085