server:
  port: 0

spring:
  application:
    name: settlement

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  # Database Configuration
  datasource:
    url: jdbc:h2:mem:deposit-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  kafka:
    bootstrap-servers:
      - localhost:9092
    consumer:
      group-id: settlement-service
      properties:
        allow.auto.create.topics: false


custom:
  batch:
    chunk:
      size: 500