server:
  port: 8089
spring:
  application:
    name: cart
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
        exclude: beans, env, mappings
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    info:
      enabled: true
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: b3
      produce: b3_multi
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans