spring:
  eureka:
    client:
      enabled: false     # Eureka 서버에 등록하지 않음
  cloud:
    discovery:
      enabled: false   # Eureka 클라이언트 비활성화
  # Database Configuration
  datasource:
    url: jdbc:h2:mem:cartdb
    driver-class-name: org.h2.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  kafka:
    bootstrap-servers:
      - localhost:9092
    consumer:
      group-id: cart-service
      properties:
        allow.auto.create.topics: false

# External Service URLs
external:
  user-service:
    url: http://localhost:8083

